<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckNumber</servlet-name>
        <servlet-class>CheckNumber</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckNumber</servlet-name>
        <url-pattern>/CheckNumber</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RequestPark</servlet-name>
        <servlet-class>RequestPark</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestPark</servlet-name>
        <url-pattern>/RequestPark</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CancelPark</servlet-name>
        <servlet-class>CancelPark</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelPark</servlet-name>
        <url-pattern>/CancelPark</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePw</servlet-name>
        <servlet-class>ChangePw</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePw</servlet-name>
        <url-pattern>/ChangePw</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetHistory</servlet-name>
        <servlet-class>GetHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetHistory</servlet-name>
        <url-pattern>/GetHistory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutoClear</servlet-name>
        <servlet-class>AutoClear</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoClear</servlet-name>
        <url-pattern>/AutoClear</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckUpdate</servlet-name>
        <servlet-class>CheckUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUpdate</servlet-name>
        <url-pattern>/CheckUpdate</url-pattern>
    </servlet-mapping>
</web-app>